<h1 style="text-align: center;">
Anomaly Detection 
</h1>

1. For each model, compute the bi-monthly failure rate R per model: F = number of failures per model, O = number of cumulative days in operation per model, D = number of days between Jan 1, 2019 and March 28, 2019, inclusive:


\\[R = 100.0 * \left(\frac{1.0 * F}{O \div D}\right)\\]


2. Given R per model, find the mean M and standard deviation S

3. Use M, S to predict which models in operation on March 29, 2019 will fail, with failure
predicted if the model’s R exceeds M + 1S

Log data from Backblaze\
Source: https://www.backblaze.com/blog/backblaze-hard-drive-stats-q1-2019/ \
Reference: https://www.backblaze.com/cloud-storage/resources/hard-drive-test-data\

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

from datetime import datetime as dt

spark = SparkSession.builder.appName('dh3382-midterm-anomaly-detection').getOrCreate()

LOG_DIR_PATH = '/FileStore/tables/drive_stats_2019_Q1'

# specified date range
DATE_RANGE = ('2019-1-1', '2019-3-28')

# calculate number of days in date range for D variable in failure rate (R)
DATE_RANGE_DAYS = (dt.strptime(DATE_RANGE[1], "%Y-%m-%d") - dt.strptime(DATE_RANGE[0], "%Y-%m-%d")).days

In [0]:
# read in raw log data
log_df_raw = spark.read.options(header=True, inferSchema=True).csv(LOG_DIR_PATH)

# select only necessary columns
log_df = log_df_raw.select('date', 'serial_number', 'model', 'failure')

# filter entries outside of specified date range. Initially checked for nulls but found none
log_df = log_df.filter(log_df.date.between(*DATE_RANGE) )
log_df.persist()

log_df.toPandas()

,date,serial_number,model,failure
0,2019-03-08,Z305B2QN,ST4000DM000,0
1,2019-03-08,ZJV0XJQ4,ST12000NM0007,0
2,2019-03-08,ZJV0XJQ3,ST12000NM0007,0
3,2019-03-08,ZJV0XJQ0,ST12000NM0007,0
4,2019-03-08,PL1331LAHG1S4H,HGST HMS5C4040ALE640,0
...,...,...,...,...
6150993,2019-02-27,PL1331LAHD1AWH,HGST HMS5C4040BLE640,0
6150994,2019-02-27,ZA10MCEQ,ST8000DM002,0
6150995,2019-02-27,ZCH0CRTK,ST12000NM0007,0
6150996,2019-02-27,PL1331LAHD1T5H,HGST HMS5C4040BLE640,0
6150997,2019-02-27,Z30271GD,ST4000DM000,0